body {
  background-color: #f3e7e9;
  color: #555;
}
.App {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-family: "Damion", cursive;
    text-align: center;
    margin: 30px 0;
}

.main-section {
  background-color: rgb(250, 243, 243);
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 05px 5px 5px rgba(0, 0, 0, 0.08);
}

/* .header-img {
    width: 100%;
    max-height: 80px;
    opacity: 50%;
} */
