.Phonetics {
    line-height: 40px;
}

.Phonetics a {
    border: 1px solid #e39ba7;
    padding: 5px 8px 5px 10px;
    border-radius: 20px;
    color: #e39ba7;
    transition: all 150ms ease-in-out;
    font-size: 13px;
    margin-right: 10px;
}

.Phonetics a:hover {
    background-color: #e39ba7;
    color: #fff;


}